* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #222222;
}

#main-container {
    width: 80%;
    margin: auto;
    font-family: arial;
    background: rgb(109,100,100);
    border-left: 2px solid black;
    border-right: 2px solid black;
}

a {
    text-decoration: none;
    color: #222222;
}

/* Navigation */

nav {
    background: rgb(212, 200, 200);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    font-size: 1.2rem;
}

/* Landing Page */

#rate-anime {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#anime-placeholder {
    display: flex;
    align-items: flex-end;
    background: blue;
    height: 250px;
    width: 50%;
}

#anime-name {
    text-align: center;
    opacity: 50%;
    height: 10%;
    width: 100%;
    background: lightblue;
}

#skip-option {
    display: flex;
    justify-content: center;
    height: 5vh;
    align-items: center;
}

#skip-option span {
    font-weight: bold;
    background: red;
    padding: 0.2rem 4rem;
    border-radius: 2rem;
    border: solid 1px black;
}
/* Slideshow */
